//- page.pug
html
  head
    include ../../page-elements/head.pug
  body(class=(module.bodyclass ? module.bodyclass : ''))
    #page.page
      block content
      include ../../page-elements/footer.pug
