// less file for status layout

@status-size: 25px;

&-status {
  border: 1px solid #666666;
  border-radius: 50%;
  display: inline-block;
  height: @status-size;
  margin: 0 2px 2px 0;
  width: @status-size;
}
