//- views/form/output.pug
mixin output(pretext, name, posttext)
  .field.field-output(class='field_' + name)
    .field-label= pretext
    .field-value
      .field-value-input(class='field-value-input-' + name)
        if posttext
          label(class='output-label')= posttext
