//- items/led.pug
h3.item-headline= name
.item-preview&attributes({
  id: name.replace(/[^A-zA-Z0-9]/, '_') + '_preview',
  'data-group': 'LED',
  'data-item': name,
  style: 'background-color: ' + item.color
})
