//- items/led.pug
.gpio-item-led
  .gpio-item-header
    .gpio-item-header-right
      label.gpio-item-label= name
    .gpio-item-header-right
      include ../widgets/status.pug
  - thumbColor = item.color
  include ../widgets/slider.pug
