//- items/rgbled.pug
.gpio-item-rgbled
  .gpio-item-header
    .gpio-item-header-right
      label.gpio-item-label= name
    .gpio-item-header-right
      include ../widgets/status.pug
  each thumbColor in item.color
    include ../widgets/slider.pug
