//- items/servo.pug
mixin servobutton(msg, value, label)
  button.button.gpio-button-servo&attributes({
    'data-emit': msg,
    'data-data': "{group: '" + group + "', item: '" + name + "', pwmValue: " + value + "}"
  })= label

.gpio-item-servo
  - hidePreview = true
  include ../widgets/header.pug
  - hidePreview = false
  .gpio-item-button-group
    + servobutton('setValue', 1000, '<<')
    + servobutton('setValue', 1250, '<')
    + servobutton('setValue', 1500, '|')
    + servobutton('setValue', 1750, '>')
    + servobutton('setValue', 2000, '>>')

  - color = 'black'
  include ../widgets/slider.pug
