//- items/servo.pug
.gpio-item-servo
  .gpio-item-header
    .gpio-item-header-right
      label.gpio-item-label= name
    .gpio-item-header-right
      include ../widgets/status.pug
  - thumbColor = 'black'
  include ../widgets/slider.pug
