// LESS file for Raspberry Pi GPIO with Node.js

.gpio {
  background-color: #f0f0f0;

  &-headline {
    text-align: center;
  }

  &-buttons {
    text-align: center;
  }

  &-button-group {
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
  }

  &-button {
    flex: 1 0 auto;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 0.5em 0.5em 0;
    padding: 0.25em 0;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: 800px) {
    &-button-group {
      display: inline-block;
      margin-right: 0.75em;

      &:last-child {
        margin-right: 0;
      }
    }

    &-button {
      padding: 0.25em 1em;
    }
  }

  &-item {
    border: 1px solid #aaaaaa;
    margin: 0 0 1em;
    padding: 1em 1em 0.75em;

    &-header {
      align-content: flex-start;
      display: flex;
      flex-flow: row wrap;

      &-left {
        flex: 2 0 auto;
        order: 1;
      }

      &-right {
        flex: 1 0 8%;
        order: 3;
        text-align: right;
      }
    }

    &-label {
      display: block;
      font-size: 1.4em;
      font-weight: bold;
      line-height: auto;
      text-align: left;
    }

    @import 'widget/slider';
    @import 'widget/status';
  }

  @media (min-width: 1000px) {
    &-groups {
      align-content: flex-start;
      display: flex;
      flex-flow: row wrap;
    }

    &-group {
      flex: 1 0 auto;
    }

    &-group-items {
      align-content: flex-start;
      display: flex;
      flex-flow: row wrap;
    }

    &-item {
      flex: 1 0 auto;
    }
  }

  @media (min-width: 2024px) {
    &-group {
      &-items {
        align-content: flex-start;
        display: flex;
        flex-flow: row wrap;
      }
    }

    &-item {
      flex: 1 0 auto;
      margin-right: 1em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .footer {
    background-color: #ffffff;
  }
}
