// LESS file for Raspberry Pi GPIO with Node.js

.gpio {
  background-color: #f0f0f0;

  &-headline {
    text-align: center;
  }

  &-buttons {
    text-align: center;
  }

  &-button-group {
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
  }

  &-button {
    flex: 1 0 auto;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 0.5em 0.5em 0;
    padding: 0.25em 0;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: 800px) {
    &-button-group {
      display: inline-block;
      margin-right: 0.75em;

      &:last-child {
        margin-right: 0;
      }
    }

    &-button {
      padding: 0.25em 1em;
    }
  }

  &-groups {
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
  }

  &-group {
    &_LED {
      flex-basis: 100%;
    }

    &_RGB_LED {
      flex-basis: 100%;
    }

    &_Servo {
      flex-basis: 100%;
    }

    &_Button {
      flex-basis: 50%;
    }

    &_Sensor {
      flex-basis: 50%;
    }

    &-items {
      align-content: flex-start;
      display: flex;
      flex-flow: row wrap;
    }
  }

  &-item {
    border: 1px solid #cccccc;
    flex-basis: 100%;
    margin: 0 0 1em;
    padding: 1em 1em 0.75em;

    &-header {
      align-content: flex-start;
      display: flex;
      flex-flow: row wrap;

      &-label {
        flex: 2 0 auto;
        order: 1;
      }

      &-status {
        flex: 1 0 (@status-size + 2px);
        order: 3;
        text-align: right;
      }
    }

    &-label {
      display: block;
      font-size: 1.4em;
      font-weight: bold;
      line-height: auto;
    }

    &-button &-header-status,
    &-sensor &-header-status {
      flex-grow: 4;
      text-align: left;
    }

    @import 'widget/slider';
    @import 'widget/status';
  }

  @media (min-width: 780px) {
    &-group {
      &_LED {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;

        .gpio-item-header-label {
          display: none;
        }

        .gpio-item-header-status {
          flex-basis: 100%;
          text-align: center;
        }

        .gpio-item-slider-container {
          width: 100%;
        }
      }

      &_RGB_LED {
        flex-basis: auto;
        flex-grow: 2;
        flex-shrink: 2;

        .gpio-item-header-label {
          display: none;
        }

        .gpio-item-header-status {
          flex-basis: 100%;
          text-align: center;
        }

        .gpio-item-slider-container {
          width: 100%;
        }
      }
    }

    &-item {
      flex: 1 0 auto;

      .gpio-group_LED &,
      .gpio-group_RGB_LED & {
        padding: 1em 0 0.75em;
      }
    }
  }

  .footer {
    border-top: 2px solid #cccccc;
  }
}
