//- items/slider.pug
div(
  class=item.type + '_controls ' + thumbColor
)
  input.gpio-item-slider&attributes({
    id: name.replace(/[^A-zA-Z0-9]/, '_') + '_slider',
    type: 'range',
    min: item.range.min,
    max: item.range.max,
    value: 0,
    'data-group': group,
    'data-name': name,
    'data-type': item.type
  })
