<!DOCTYPE html>
<html lang="de"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Raspberry Pi 3 GPIO</title>
<meta name="author" content="Uwe Gerdes, entwicklung@uwegerdes.de">
<meta name="description" content="Responsive GUI for Raspberry Pi 3 GPIO with Node.js">
<link rel="stylesheet" type="text/css" href="/css/gpio.css">
</head>
<body class="body">
  <div id="main">
  <h1 class="headline">Raspberry Pi 3 GPIO</h1>
  <div class="container">
    <div class="controlButtons">
      <span class="buttonContainer">
        <button id="allOff" name="allOff" value="allOff" class="button">alle aus</button>
        <button id="allOn" name="allOn" value="allOn" class="button">alle ein</button>
        <button id="smooth" name="smooth" value="smooth" class="button">smooth</button>
      </span>
      <span class="buttonContainer">
        <button id="RGBsmooth" name="RGBsmooth" value="RGBsmooth" class="button">RGB smooth</button>
        <button id="LEDsmooth" name="LEDsmooth" value="LEDsmooth" class="button">LEDs smooth</button>
      </span>
    </div>
    <div class="row">
      <div class="cell">
        <div id="elementContainer"></div>
      </div>
    </div>
  </div>
  </div>
  <div id="footer">
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  var socket = io();
</script>
<script src="/js/gpio.js"></script>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':8081/livereload.js"></' + 'script>')</script>
</html>
