//- index.pug
extends ../../pages/views/page.pug

block content
  .uncolored
    #gpio.gpio.flex-wrapper

      #head.flex-block.flex-header
        #header-wrapper.flex-wrapper
          h1#headline.headline.gpio-headline.flex-block.flex-left= module.name

      #gpio-buttons.gpio-buttons.controlButtons.flex-block.flex-center
        button#allOff.button.gpio-button.controlButton(name='allOff', value='allOff') alle aus
        button#allOn.button.gpio-button.controlButton(name='allOn', value='allOn') alle an
        button#smooth.button.gpio-button.controlButton(name='smooth', value='smooth') smooth
        button#LEDsmooth.button.gpio-button.controlButton(name='LEDsmooth', value='LEDsmooth') LED smooth
        button#RGBsmooth.button.gpio-button.controlButton(name='RGBsmooth', value='RGBsmooth') RGB smooth

      #gpio-groups.gpio-groups.flex-block.flex-center
        each list, group in items
          .gpio-group(id='group_' + group.replace(/[^A-zA-Z0-9]/, '_'))
            h2.gpio-group-headline= group
            .gpio-group-items
              each item, name in list
                .gpio-item(id='item_' + name.replace(/[^A-zA-Z0-9]/, '_'))
                  if item.type == 'LED'
                    include items/led.pug
                  else if item.type == 'RGBLED'
                    include items/rgbled.pug
                  else if item.type == 'Servo'
                    include items/servo.pug
                  else if item.type == 'Button'
                    include items/button.pug
                  else if item.type == 'Sensor'
                    include items/sensor.pug
                  else
                    h3.error= item.type + ' not recognized'
  .row
    .cell
      #elementContainer

append footer
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js')
  script var socket = io();
  script(src='/js/gpio/gpio.js')
